# Redis
REDIS_PASSWORD=your_password
REDIS_USER=your_user
REDIS_USER_PASSWORD=your_user_password
REDIS_CONNECTION_STRING=your_redis_connection_string

# PostgreSQL
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DATABASE=your_postgres_db
POSTGRES_CONNECTION_STRING=your_postgres_connection_string

# MinIO
MINIO_ROOT_USER=your_minio_root_user
MINIO_ROOT_PASSWORD=your_minio_root_password
MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key
MINIO_PUB_ENDPOINT=your_minio_public_endpoint

# JWT
JWT_SECRET_KEY=your_super_secret_key_min_32_chars
JWT_ISSUER=SkillTracker
JWT_AUDIENCE=SkillTrackerClient
JWT_EXPIRES_IN_MINUTES=60

# Mailpit
SMTP_USERNAME=your_mailpit_username

# Centrifugo
API_KEY=your_centrifugo_api_key