# Redis
REDIS_PASSWORD=your_password
REDIS_USER=your_user
REDIS_USER_PASSWORD=your_user_password

# PostgreSQL
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DATABASE=your_postgres_db

# MinIO
MINIO_ROOT_USER=your_minio_root_user
MINIO_ROOT_PASSWORD=your_minio_root_password